*{
	margin: 0;    /* body=8px */
	padding: 0;   /* 列表 button */
	text-decoration: none;  /* 清除下划线 */ /* a */
	outline: none;  /*  button */
	list-style: none;   /* 列表 */
}
img{
	width: 100%;
	height: 100%;
}