@font-face {
  font-family: 'iconfont';  /* project id 507265 */
  src: url('https://at.alicdn.com/t/font_507265_5g9264j0up2gwrk9.eot');
  src: url('https://at.alicdn.com/t/font_507265_5g9264j0up2gwrk9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_507265_5g9264j0up2gwrk9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_507265_5g9264j0up2gwrk9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_507265_5g9264j0up2gwrk9.svg#iconfont') format('svg');
}
.head{
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, .8);
	border-bottom: 1px solid #ccc;
}
.head-neikuan{
	width: 1226px;
	height: 100%;
	/* background-color: yellow; */
	margin: 0 auto;
}
.head-left{
	/* background-color: red; */
	float: left;
	overflow: hidden;
}
.head-wenzi{
	font-size: 12px;
	color: #b0b0b0;
	margin-right: 16px;
	float: left;
	line-height: 40px;
}
.head-wenzi:hover{
	color: #fff;
}

.head-right{
	float: right;
}
.car{
	background-color: #424242;
	float: left;
	font-size: 12px;
	color: #b0b0b0;
	line-height: 40px;
	width: 120px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.icon-gouwuchekong:before{
	margin-right: 5px;
}
.nav{
	width: 1226px;
	height: 100px;
	/* background-color: pink; */
	margin: 0 auto;
	overflow: hidden;
}
.nav-left{
	width: 55px;
	height: 55px;
	background-color: orange;
	margin-top: 22.5px;
	float: left;
}
.nav-center{
	float: left;
	margin-left:  190px;
}
.nav-wenzi{
	float: left;
	line-height: 100px;
	padding: 10px;
	cursor: pointer;
	font-size: 14px;
}
.nav-wenzi:hover{
	color: orange;
}
.nav-right{
	width: 297px;
	height: 50px;
	float:right;
	background-color:red;
	margin-top: 25px;
	
}
.nac-right-icon{
	float: right;
	width: 52px;
	height:50px;
	background-color: blue;
	
}
.nac-right-icon input{
	border: 1px solid #e0e0e0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: #fff;
	border-left: 0;
}
.nac-right-icon input:hover{
	background-color: orange;
	color: #fff;
}
.nav-right-wenzi{
	width: 245px;
	height: 50px;
	background-color: #fff;
	float: left;
	
}
.nav-right-wenzi input{
	border: 1px solid #e0e0e0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: #fff;

}
.nav-right-wenzi input:hover{
	border: 1px solid orange;
}
.danpin{
	width: 1226px;
	height: 438px;
	/* background-color: red; */
	margin: 0 auto;
}
.danpin-top{
	width: 100%;
	height: 58px;
	/* background-color: yellow; */
	line-height: 58px;
	color: #333; 
	float: left;
}
.danpin-title{
	font-size: 22px;
	font-weight: 200;
	float: left;
}
.danpin-jiantou{
	width: 72px;
	height: 25px;
	/* background-color: red; */
	float: right;
	margin-top: 16.5px;
}
.danpin-jiantou button{
	width: 34px;
	height: 23px;
	border: 1px solid #ccc;
	background-color: #fff;
	float: left;
	box-sizing: content-box;
	cursor: pointer;
}
.danpin-bottom{
	width: 100%;
	height: 380px;
	/* background-color: orange; */
}
.danpin-item{
		width: 234px;
		height: 300px;
		border-top: 1px solid blue;
		background-color: #fafafa;
		padding-top: 39px;
		text-align: center;
		float: left;
		margin-right:14px;
}
.danpin-item:nth-child(5){
	margin-right: 0;
	border-top-color: orange;
}
.danpin-item:nth-child(4){
	border-top-color: green;
}
.danpin-item:nth-child(3){
	border-top-color: yellowgreen;
}
.danpin-item:nth-child(2){
	border-top-color: red;
}
.danoin-item1{
	width: 160px;
	height: 166px;
	/* background-color: yellowgreen; */
	margin: 0 auto;
}
.danpin-item2{
	display: block;
	margin-top: 45px;
	font-weight: 400;
	font-size: 14px;
	color: #212121;
}
.danpin-item3{
	font-size: 12px;
	color: #b0b0b0;
	display: block;
}
.danpin-item4{
	font-size: 12px;
	color: orange;
	display: block;
	margin-top: 12px;
}
.bannerList{
	width: 1226px;
	height: 170px;
	/* background-color: red; */
	margin: 0 auto;
	margin-top: 14px;
}
.bannerList li{
	width: 316px;
	height: 100%;
	background-color: #5f5750;
	float: left;
}
.bannerList li:hover{
	box-shadow: 0 15px  30px rgba(0, 0, 0, 0.1);
}
.bannerList li:nth-child(1){
	width: 228px;
	height: 164px;
	padding: 3px;
	box-shadow: none;	
}
.bannerList li:nth-child(2){
	margin-left: 14px;
}
.bannerList li:nth-child(3){
	margin-left: 15px;
}
.bannerList li:nth-child(4){
	margin-left: 15px;
}
.banner-icon{
	width: 76px;
	height: 64px;
	background-color: #5f5750;
	padding-top: 18px;
	float: left;
}
.banner-icon a:hover span{
	color: #fff;
}
.banner-icon .banner-shouji{
	font-size: 24px;
	font-weight: bolder;
	color: rgba(255, 255, 255, 0.7);
	display: block;
	text-align: center;
}
.banner-shouji1{
	font-size: 14px;
	color: rgba(255, 255, 255, 0.7);
	display: block;
	text-align: center;	
}
#box{
	width: 100%;
	background-color: #f5f5f5;
	padding-top: 60px;
}
.jiadian{
	width: 1226px;
	height: 686px;
	/* background-color: red; */
	margin: 0 auto;

}
.jiandian-top{
	width: 1226px;
	height: 58px;
	/* background-color: yellowgreen; */

}
.jiandian-top h2{
	line-height: 58px;
	font-size: 22px;
	font-weight: 200;
	color: #333;
	float: left;
}
.jiandian-xuan{
	float: right;
	margin-top: 16px;
}
.jiandian-xuan span{
	float: left;
	font-size: 16px;
	margin-left: 30px;
	color: #424242;
}
.jiandian-xuan .jiandian-xuan-active{
	border-bottom: 2px solid orange;
	color: orange;
}
.jiadian-bottom{
	width: 100%;
	height: 628px;
	/* background-color: skyblue; */
}
.jiadian-left{
	width: 234px;
	height: 614px;
	/* background-color: yellow; */
	float: left;
	

}
.jiadian-left,.jiadian-item:hover,.jiadian-item-s{
	transition: all .5s linear;
}
.jiadian-left:hover,.jiadian-item:hover,.jiadian-item-s:hover{
	box-shadow:0 15px  30px rgba(0, 0, 0, 0.1); 
	transform: translateY(-6px);
}
.jiadian-tan{
	width: 100%;
	height: 80px;
	background-color: orange;
	position: absolute;
	left: 0;
	bottom: -80px;
	text-align: center;
	color: #fff;

}
.jiadian-item:hover .jiadian-tan{
	bottom: 0;
	transition: all .5s linear;

}
.jiadian-right{
	width: 992px;
	height: 614px;
	/* background-color: yellowgreen; */
	float: left;
}
.jiadian-item{
	width: 234px;
	height: 266px;
	background-color: #fff;
	margin-left: 14px;
	margin-bottom: 14px;
	padding-top: 34px;
	float: left;
	position: relative;
	overflow: hidden;
}
.jiadian-item1{
	width: 150px;
	height: 156px;
	display: block;
	/* background-color: pink; */
	margin: 0 auto;
}
.jiadian-item2{
	display: block;
	text-align: center;
	margin-top: 18px;
	font-size: 14px;
	font-weight: 400;
}
.jiadian-item3{
	text-align: center;
	font-size: 12px;
	color: #b0b0b0;
}
.jiadian-item4{
	color: orange;
	font-size: 14px;
	display: block;
	text-align: center;
	margin-top: 10px;
}
.jiadian-item-s{
	width: 234px;
	height: 99px;
	background-color: #fff;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
	padding-top: 44px;
}
.jiadian-wenzi{
	float: left;
	margin-left: 30px;
}
.jiadian-wenzi .jiadian-item2{
	margin: 0;
}
.jiadian-wenzi .jiadian-item4{
	text-align: left;
}
.jiadian-wenzi .jiadian-item3{
	text-align: left;
}
.jiadian-img{
	width: 80px;
	height: 80px;
	float: right;
	background-color: pink;
}
.jiadian-item-remen{
	display: block;
}
.jiadian-left-top{
	width: 234px;
	height: 300px;
	background-color: #fff;
	float: left;
}
.jiadian-left-bottom{
	width: 234px;
	height: 300px;
	background-color: #fff;
	float: left;
	margin-top: 14px;
}
.tuijian .danpin-item{
	border: 0;
}
.hot{
	width: 1226px;
	height: 473px;
	/* background-color: red; */
	margin: 0 auto;
	margin-bottom: 14px;
}
.hot-top{
	width: 100%;
	height: 58px;
	/* background-color: yellow; */
}
.hot-bottom{
	width: 1226px;
	height: 415px;
	/* background-color: blue; */
	float: left;


}
.hot-item{
	width: 296px;
	height: 415px;
	background-color: #fff;
	float: left;
	margin-right:  14px;
}
.item-top{
	width: 296px;
	height: 220px;
	background-color: pink;
	margin-bottom: 28px;
}
.hot-bottom-item1{
	margin-left: 28px;
	width: 240px;
	height: 72px;
	font-size: 14px;
}	
.hot-item1{
	margin-bottom: 28px;
}
.hot-item:hover{
	box-shadow:0 15px  30px rgba(0, 0, 0, 0.1); 
	transition: all .5s linear;
}	


.hot-item2{
	margin-top: 28px;
	font-size: 12px;
	color: #b0b0b0;
}
.hot-bottom-item2{
	margin-top: 14px;
}
.hot-wenzi{
	color: orange;
}
.hot-top-wenzi{
	line-height: 58px;
	font-weight: 400;
	font-size: 22px;
	color: #333;
}
.hot-item4{
	margin-right:  0px;
}
.nrkaishi{
	width: 1226px;
	height: 478px;
	/* background-color: red; */
	margin: 0 auto;
	padding-bottom: 58px;
	
}
.nr-top{
	width: 100%;
	height: 58px;
	/* background-color: pink; */
}
.nr-top-left{
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.nr-bottom{
	width: 1226px;
	height:auto;
	/* background-color: blue; */

}
.banner{
	width: 1226px;
	height: 426px;
	background-color: red;
	margin: 0 auto;
	position: relative;

}
.banner-img{
	width: 1226px;
	height: 426px;
	background-color: pink;
}


.banner .banner-xiayige{
	background-image: none;
	width: 41px;
	height: 69px;	
	color: #757575;
	position: absolute;
	right: 5px;
	top: 0;
	bottom: 0;
	margin: auto;
	font-size: 60px;
	line-height: 69px;
}
.banner .banner-xiayige:hover{
	color: #fff;
	background-color: #333;
}
.banner .banner-shangyige{
	background-image: none;
	width: 41px;
	height: 69px;	
	color: #757575;
	position: absolute;
	left: 239px;
	top: 0;
	bottom: 0;
	margin: auto;
	font-size: 60px;
	line-height: 69px;
}
.banner .banner-shangyige:hover{
	color: #fff;
	background-color: #333;
}

.banner .banner-shangyige{
	background-image: none;
}
#xiaomi .banner-lunbo{
	width: 150px;
	height: 18px;
	right: 30px;
	bottom: 20px;
	left: auto;
}
.swiper-pagination-bullet{


}


.banner-item{
	width: 1226px;
	height: 426px;
	background-color: yellow;
	position: absolute;
	left: 0;
	top: 0;
}

.banner-item:nth-child(1){
	z-index: 99;
}
.banner-nav{
	width: 234px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	font-size: 14px;


}
.banner-nav li{
	width: 100%;
	height: 42px;
	background-color: rgba(0, 0, 0, 0.6);
	line-height: 42px;

}
.banner-nav li a{
	display: block;
	width: 194px;
	height: 42px;
	padding: 0 20px;
	color: #fff;


}
.banner-nav li a:hover{
	background-color:  #ff3700;
}
.banner-nav-jiantou{
	float: right;

}
.nrkaishi .nr-bottom-item{
	width: 296px;
	height: 420px;
	background-color: #fff;
	border-top: 1px solid orange;
	padding: 45px 0 0;
	float: left;
	margin-right: 14px;

}
.nrkaishi .swiper-wrapper{
	height: auto;
}
.nr-bottom-item h1{
	font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ffac13;
    margin: 0 10px 18px;
}
.nr-bottom-item span{
	text-align: center;
	display: block;
	font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px; 

}
.nr-bottom-item p{
	margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;   
    text-align: center;
    overflow: hidden;
    color: #b0b0b0;
    display: block;

}
.nr-bottom-item h2{
	color: #333;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 28px;
	height: 40px;
	
}
.nr-bottom-img{
	width: 216px;
	height: 154px;
	/* background-color: pink; */
	margin: 0 auto;
	
}
.nr-bottom-item:nth-child(4){
	margin-right: 0;
	border-top-color:blue; 
	

}
.nr-bottom-item:nth-child(3){
	border-top-color:green;



}

.nr-bottom-item:nth-child(2){
	border-top-color:red; 

}

.nr-bottom-dian1{
	display: block;
    width: 6px;
    height: 6px;
    border-radius: 6px;  
    float: left; 
    margin-right: 14px;  
    margin-left: ;
    background-color: #333; 

}

.nr-bottom-dian span{
	display: inline-block;
}

.shipin{
	width: 1226px;
	height: 285px;
	background-color: #f5f5f5;
	margin: 0 auto;
	padding-bottom : 130px;
}
.shipin-top{
	width: 100%;
	height: 58px;
	/* background-color: red; */

}
.shipin-top-left{
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    float: left;
}
.shipin-top-right{
	font-size: 16px;
    line-height: 58px;
    color: #424242;
    float: right;
}
.shipin-item{
	width: 1226px;
    height: 285px;
}
.shipin-right{
	float: right;
}
.shipin-right1{
	float: left;
    font-size: 16px;
    color: #424242;
    line-height: 58px;
    margin-right: 12px;
}


.shipin-item1{
	width: 296px;
    height: 285px;
    background-color: #fff;
    margin-right: 14px;
    float: left;
}
.shipin-item1:nth-child(4){
	margin: 0
}
.shipin-img{
	width: 296px;
    height: 180px;
    margin: 0 0 28px;
}
.shipin-title{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #333;
    margin: 0 0 6px;
}
.shipin-title1{
    margin: 0;
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
}
.zhandian{
	width: 100%;
	height: 272px;
	background-color: #fff;
}
.zhandian-neikuan{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.zhandian-top{
	width: 100%;
	height: 80px;
	/* padding: 27px 27px; */
    border-bottom: 1px solid #e0e0e0;
}
.zhandian-top-left a{
	float: left;
    width: 19.8%;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    padding-top: 27.5px;
    float: left;
}
.zhandian-top-left a:hover{
	color: orange;
}
.zhandian2{
	color: #333;
}
.zhandian2:hover{
	color: orange;
}
.zhandian-top-left .zhandian1{
	font-size: 20px;
}
.zhandian-bommot{
	width: 1226px;
	height: 112px;
	padding: 40px 0;
}
.zhandian-bommot1{
	width: 160px;
	height: 112px;
	float: left;
	margin: 0;
}
.zhandian-wenzi{
	margin: -1px 0 16px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.zhandian-wenzi1{
	margin: 10px 0 0;
}
.zhandian-wenzi1 a{
	font-size: 12px;
	color: #757575;
}
.zhandian-wenzi1 a:hover{
	color: orange;
}
.bommot2{
	width: 252px;
	height: 112px;
	float: right;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.zhandian-shuzi{
	margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.zhandian-shuzi1{
	margin: 0 0 16px;
    font-size: 12px;
}
.zhandian-shuzi2{
	width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    border: 1px solid #FF6700;
    margin: 0 auto;
}
.zhandian-shuzi2:hover{
	background: #FF6700;
}
.zhandian-shuzi2 a{
    color: #ff6700;	
}
.zhandian-shuzi2 a:hover{
	color: #fff;
}
.zhandianxia{
	width: 100%;
	height: 166px;
	padding: 30px 0;
    font-size: 12px;
}
.zhandianxia-nk{
	width: 1226px;
	height: 57px;
    margin-right: auto;
    margin-left: auto;
}
.zhandianlogo{
	float: left;
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background-color: orange;
}
.zhandianxia-left{
	float: left;
    color: #b0b0b0;
}
.zhandianxia-left1{
	margin: 0;
    line-height: 18px;
}
.zhandianxia-left1 a{
	font-size: 8px;
	color: #757575;	
}
.zhandianxia-left1 a:hover{
	color: orange;
}
.zhandianxia-left1 .zhandianxia-left2{
	color: #B6C0D7;
}
.zhandianxia-right{
	float: right;
    display: inline;
    height: 28px;
    margin: 4px 0 0;
}
.zhandianxia-img{
	float: right;
	width: 83.02px;
    height: 28px;
    margin-left: 0px;
}
.zhandianxia-nkx{
	margin: 30px auto 0;
    width: 267px;
    height: 19px;
}
.zhandianxia-nkx span{
	font-size: 18px;
	color: #cacaca;
}
